---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'interest', text: 'Interest' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'connect', text: 'Connect' },
  { depth: 2, slug: 'tech', text: 'Tech' },
]
---

<PageLayout title='About' {headings} info='/about'>
  {/* interest */}
  <h2 id='interest'>Interest</h2>
  <ul>
    <li>Anime - Steins;Gate & Frieren</li>
    <li>Sitcom - The Big Bang Theory & Old Friends</li>
    <li>Music - Country & Slow Tempo</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/icons/photoshop.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/icons/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Safari',
        description: 'Broswer',
        href: 'https://www.apple.com/safari/',
        icon: import('@/assets/icons/safari.svg?raw')
      },
      {
        name: 'Arc',
        description: 'Broswer',
        href: 'https://arc.net/',
        icon: import('@/assets/icons/arc.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Note Taking',
        href: 'https://obsidian.md/',
        icon: import('@/assets/icons/obsidian.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/icons/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/icons/vscode.svg?raw')
      },
      {
        name: 'Warp',
        description: 'Terminal',
        href: 'https://warp.dev/',
        icon: import('@/assets/icons/warp.svg?raw')
      },
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sonoma',
        description: 'M4 Mac mini',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/icons/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Leigion R9000K 2021',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/icons/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='connect'>Connect</h2>
  <p>
    Welcome to visit~
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/k1tyoodev',
        text: 'followers',
        api: 'github/k1tyoodev'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561198840593075/',
        text: 'games',
        api: 'steamgames/76561198840593075'
      }
    ]}
  />

  {/* about-blog */}
  <h2 id='tech'>Tech</h2>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/theme-astro-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li> -->
    <li>
      Follower statics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  <p class="text-muted-foreground">
    Thanks to
    <a href="https://cworld.top/" target="_blank">CWorld</a> and 
    <a href="https://arthals.ink/" target="_blank">Arthals</a> for developing this awesome theme.
  </p>
  <!-- <Comment slot='bottom' /> -->
</PageLayout>
